<!doctype html>
<html>
  <head>
    <title>About <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><a href="/">About <%=appName%></a></h1>
    <p>Welcome to ChatterBox, this is an application which is currently under production but there are</p>
    <p>still resources on this page that you can use.</p>
    <p>This site will be an application where you can talk with friends and make new ones</p>
    <p>all while helping one another with your language learning journeys.</p>
    <p></p>
    <div class="container">

      <iframe width="100%" height="100%" 
      src="https://www.youtube.com/embed/x6ja1pLozaY" 
      title="Time It Takes To Learn Languages | Comparison"
      frameborder="0" allow="accelerometer; autoplay; 
      clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
      web-share" referrerpolicy="strict-origin-when-cross-origin" 
      allowfullscreen></iframe>

    </div>
  </body>
</html>