<!doctype html>
<html>
  <head>
    <title>Welcome To <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
    <h1><a href="about">Welcome To <%=appName%></a></h1>
        <p><a href="register">Register with us</a></p>
        <p><a href="login">Log In</a></p>
        <p><a href="logout">Log Out</a></p>
        <p><a href="language">Language Resources</a></p>
        <p></p>
        <p>Click on the Title of each of the pages to return to this menu</p>
    </div>
  </body>
</html>
