<!doctype html>
<html>
  <head>
    <title>About <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><a href="/">About <%=appName%></a></h1>
    
    <p>Welcome to ChatterBox, this is an application which is currently under production but there are</p>
    <p>still resources on this page that you can use.</p>
    <p>The following resources are some things that can help you on your language learning journey!</p>
    <h2>This video is something I watched when I first started to learn a language myself!</h2>
    <p></p>
    <div class="LanguageContainer">

      <iframe width= "100%" height= "100%" src=
      "https://www.youtube.com/embed/qYsHLUAlH_8" 
      title="How to LEARN ANY LANGUAGE on Your Own (Fast!)" 
      frameborder="0" allow="accelerometer; 
      autoplay; clipboard-write; encrypted-media; 
      gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" 
      allowfullscreen></iframe>

      <p></p>
      <p></p>
      <h3><a href = "https://www.duolingo.com/learn">Duolingo - Introduction to many languages</h3></a> 
      <h3><a href = "https://www.wanikani.com/dashboard">Wanikani - Japanese Kanji learning</h3></a>
      <h3><a href = "https://www.busuu.com/en-us">Busuu - Speaking exercises in target language</h3></a>
      <h3><a href = "https://www.hellotalk.com/?lang=en">HelloTalk - Speak with others</h3></a>

    </div>
  </body>
</html>