<!doctype html>
<html>
  <head>
    <title>Login on <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><a href="/">Login on <%=appName%></a></h1>
    <form method="POST" action="/LoggedIn">
        <h2>Username: <input id="username" type="text" name="username" value="Enter username here" /></h2>
        <h2>Password: <input id="Password" type="password" name="password" value="password" /></h2>
        <p></p>
        <input style="margin:0px auto; display:block;" type="submit" value="Login" />
      </form>
  </body>
</html>